Yumeko/config.py
Yumeko/*.session
Yumeko/*.session-journal
Yumeko/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Yumeko/modules/helper_funcs/temp.txt
Yumeko/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
lunaBot.session-journal
updates.txt
*.exe
