lunaBot/config.py
lunaBot/*.session
lunaBot/*.session-journal
lunaBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
lunaBot/modules/helper_funcs/temp.txt
lunaBot/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
lunaBot.session-journal
updates.txt
*.exe
